@use '../abstracts/variables' as *;
@use '../abstracts/skin' as *;
@use '../abstracts/mixins' as m;

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  @include m.respond-to('lg') {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include m.respond-to('md'){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include m.respond-to('us') {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &__title {
    margin-bottom: 36px;
  }

  &__description {
    color: $color-secondary;
  }
}
