@use 'sass:map';
@use 'variables' as *;

$breakpoints-map: (
    'ul': $ul,
    'xl': $xl,
    'lg-plus': $lg-plus,
    'lg': $lg,
    'md-plus': $md-plus,
    'md': $md,
    'sm-plus': $sm-plus,
    'sm': $sm,
    'xs': $xs,
    'vs': $vs,
    'us': $us,
) !default;


@function get-breakpoint($key){
  @if not map.has-key($breakpoints-map, $key) {
    @error "No value found for `#{$key}`. Property must be one of: #{map-keys($breakpoints-map)}.";
  }
  @return map.get($breakpoints-map, $key);
}

// Mobile-first (max-width)
@mixin respond-to($breakpoint) {
  $width: get-breakpoint($breakpoint);
  @media (max-width: $width) {
    @content
  }
}
// Desktop-first (min-width)
@mixin min-screen($breakpoint){
  $width: get-breakpoint($breakpoint);
  @media (min-width: $width + 0.02px) {
    @content
  }
}