/*
 * Responsive breakpoints
*/

$ul: 1380px; // Ultra large (very large screens)
$xl: 1200px; // Extra large (large screens)
$lg: 992px; // Large (medium screens)
$md: 768px;  // Medium (tablets)
$sm: 576px; // Small (mobile devices)
$xs: 480px; // Extra small (small mobile devices)
$vs: 420px; // Very small (very small devices)
$us: 360px; // Ultra small (ultra small devices)

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight: 400;

$letter-spacing: 0.1em;

$line-height: 1.64;
$line-height-sm: 1.4;

$container-primary: 1110px;
$container-secondary: 540px;

$gap: 20px;
$gap-sm: calc(var(--gap) * 0.5);
$gap-lg: calc(var(--gap) * 1.5);
$gap-xl: calc(var(--gap) * 2);