@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as m;
.container {
  width: 100%;
  max-width: $container-primary;
  margin-inline: auto;
  padding-inline: $gap-xl;

  @include m.respond-to('lg') {
    padding-inline: $gap-lg;
  }

  @include m.respond-to('md') {
    padding-inline: $gap;
  }

  @include m.respond-to('sm') {
    padding-inline: $gap;
  }

  @include m.respond-to('us') {
    padding-inline: $gap-sm;
  }
}

.container-sm {
  width: 100%;
  max-width: $container-secondary;
  margin-inline: auto;
  padding-inline: $gap-xl;

  @include m.respond-to('lg') {
    padding-inline: $gap-lg;
  }

  @include m.respond-to('md') {
    padding-inline: $gap;
  }

  @include m.respond-to('sm') {
    padding-inline: $gap;
  }

  @include m.respond-to('us') {
    padding-inline: $gap-sm;
  }
}
